.navbar{
  &__app{
    width: 100%;
    
    &-container{
      display: flex;
      justify-content: center;
    }

  }
  
  &__content{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 100px;
    align-items: center;
  }

  &__search{
    display: flex;
    align-items: center;
    
    &-icon{
      position: relative;
      left: 40px;
    }

    &-bar{
      border-radius: 10px;
      border: none;
      background: #5A5166;
      color: $white;
      width: 700px;
      padding: 5px 60px;
      font-family: $mr;
      font-size: 15px;
      outline:none;
    }
    ::placeholder{
      color: $white;
      opacity: 50%;
    }
  }

  &__user{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-top: 15px;

    &-avatar{
      width: 50px;
      height: 50px;
      border-radius: 100%;
    }

    &-name{
      display: flex;
      align-items: center;
      font-family: $mr;
      font-size: 20px;
    }
  }

  &__settings{
    cursor: pointer;
  }
}
