.site{
  position: relative;
  &-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    opacity: 0.2;
    background: var(--bg, conic-gradient(from 180deg at 50% 50%, rgba(164, 16, 69, 0.94) 154.80000257492065deg, #892066 171.00000858306885deg, rgba(229, 41, 150, 0.98) 201.60000085830688deg, rgba(24, 69, 124, 0.95) 270deg, rgba(24, 69, 124, 0.90) 360deg));
    filter: blur(250px);
  }
}

