.notfound {
    &__container {
        flex-direction: column;
        display: flex;
        align-items: center;

        @include media ($md) {
            justify-content: center;
            height: 100vh;
        }
    }

    &__title {
        font-size: 120px;
        font-family: $mb;
        margin-top: 50px;

        @include media ($md) {
            font-size: 80px;
            margin-bottom: 50px;
        }

        @include media ($xs) {
            font-size: 50px;
            margin-bottom: 50px;
        }
    }

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 300px;
        font-family: $mb;
        position: relative;
        gap: 260px;
        line-height: 350px;
        margin-top: 50px;

        @include media ($md) {
            font-size: 150px;
            line-height: 150px;
            gap: 140px;
        }

        @include media ($xs) {
            font-size: 100px;
            line-height: 150px;
            gap: 100px;
        }
    }

    &__text {
        font-size: 60px;
        font-family: $mm;
        margin-top: 120px;
        text-align: center;

        @include media ($md) {
            font-size: 40px;
        }

        @include media ($xs) {
            font-size: 30px;
        }
    }

    &__image {
        position: absolute;
        left: 240px;

        @include media ($md) {
            width: 300px;
            left: 100px;
        }

        @include media ($md) {
            width: 180px;
            left: 80px;
        }
    }

    &__link {
        font-size: 32px;
        font-family: $mb;
        margin-top: 30px;

        @include media ($md) {
            font-size: 25px;
        }

        @include media ($xs) {
            font-size: 18px;
        }
    }
}

.line {
    display: none;
}