* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

::-webkit-scrollbar {
    width: 5px;
    height: 60px;
}

::-webkit-scrollbar-thumb {
    height: 50px;
    background: $purple;
}

::selection {
    background: $purple;
}

body {
    background: $black;
}
a{
    text-decoration: none;
}

li{
    list-style: none;
}

.line{
    position: absolute;
    width: 100%;
    top: 10%;
    left: 0;
    z-index: -1;

    @include media ($xs) {
        top: 20%;
    }
}

