//fonts
$mb: Montserrat-Black;
$mbd: Montserrat-Bold;
$meb: Montserrat-ExtraBold;
$mi: Montserrat-Italic;
$ml: Montserrat-Light;
$mm: Montserrat-Medium;
$mr: Montserrat-Regular;
$msb: Montserrat-SemiBold;

//color
$purple: #6b3a90;
$lightPurple: #a26dcb;
$white:#ffffff;
$black: #000000;
$grayBg: #2c2c2d7a;