.table__content {
    &-title {
        margin-top: -20px;

        font-family: $msb;
        font-size: 50px;
    }

    &-table {
        margin-top: 70px;
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
        border: 1px solid #ccc;
        border-radius: 20px;

        font-family: $mr;
        font-size: 20px;
    }

    &-row {
        display: flex;
        border-bottom: 1px solid #ccc;

        &:last-of-type {
            border: none;
        }
    }

    &-header {
        font-family: $msb;

    }

    &-cell {
        flex: 1;
        padding: 10px;
        text-align: center;
        border-right: 1px solid #ccc;
        font-size: 18px;

        &:last-of-type {
            border: none;
        }
    }

}